@tailwind base;
@tailwind components;
@tailwind utilities;

.link-active a.active {
    color: #0284C7;
    text-decoration: underline;
}

.link-active a:hover {
    color: rgb(0, 67, 125);
    text-decoration: underline;
}

.link-active a {
    color: rgb(6, 0, 184);
    transition: 0.3s;
    text-decoration: underline;
}

html,
body {
    height: 100%;
}